!!!
%html
  %head
    %title VagabondApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.top-bar{:class => "nav-color", "data-options" => "sticky_on: large", "data-topbar" => "", :role => "navigation"}
      %ul{:class => "left list-item-bar"}
        - if current_user
          %li= link_to "Profile", user_path(current_user)
          %li= link_to "Log Out", logout_path
        - else
          %li= link_to "Create Account", new_user_path
          %li= link_to "Log In", new_session_path

    =yield

    %footer{:class => "footer"}
      %div{:class => "row"}
        %div{:class => "column"}
          %p{:class => "slogan"}
            Vagabond
          %p{:class => "links"}
            = link_to("Cities #{}")
            = link_to("Cities #{}")
            = link_to("Cities #{}")
            = link_to("Cities #{}")
            = link_to("Cities #{}")
            = link_to("Cities #{}")
          %p{:class => "copywrite"}
            Immense Journey-81190 ©2016
