.row
  .large-12.columns
    %h2.text-center.sign-up-title Join our awesome site!
    = form_for @user do |f|
      .card.sign-up
        .title.sign-up-title Sign Up

        = f.text_field :first_name, placeholder: "First Name"

        = f.text_field :last_name, placeholder: "Last Name"

        = f.text_field :username, placeholder: "Username"

        = f.text_field :email, placeholder: "Email"

        = f.password_field :password, placeholder: "Password"

        = f.text_field :city, placeholder: "Current City"

        = f.submit "Join!"
