%br
.large-12.column
  .large-4.column
    %img{:src => "http://www.fuelingnewbusiness.com/wp-content/uploads/2009/09/twitter-egg.jpg", :class => "profile-img"}
    %br
    %h5 Join Date:
    = @user.created_at.strftime("%d %b %Y")
    %h5 Name:
    = @user.first_name
    = @user.last_name
    %h5 Username:
    = @user.username
    %h5 Email:
    = @user.email
    %h5 City:
    = @user.city
    = button_to 'Edit Profile', edit_user_path, method: :get
  .large-8.column
    - if @posts
      - @posts.each do |post|
        .post-box
          %a{href: '/cities/' + post.city.id.to_s}
            %h4
              #{post.title}
          %span= post.created_at.strftime("%d %b %Y")
          %p= post.content
          = button_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }
          %button#editPostButton.submit-button{class: button, :onclick => "location.href = '#{edit_post_path(post.city, post)}'"} Edit Post
          %hr
