- if @posts
  %h1= @posts.title
  %p= @posts.content

.row
  .large-10.column
    .large-6.column
      %img{:src => "http://www.fuelingnewbusiness.com/wp-content/uploads/2009/09/twitter-egg.jpg", :class => "profile-img"}
      %h5 Name:
      = @user.first_name
      = @user.last_name
      %h5 Username:
      = @user.username
      %h5 Email:
      = @user.email
      %h5 City:
      = @user.city
    .large-6.column
    - if @posts
      =@posts.each do |post|
        %h3= post.title
        %p= post.content
        %hr
