.row
  .large-10.column
    .large-6.column
      %img{:src => "http://www.fuelingnewbusiness.com/wp-content/uploads/2009/09/twitter-egg.jpg", :class => "profile-img"}
      %h5 Name:
      = @user.first_name
      = @user.last_name
      %h5 Username:
      = @user.username
      %h5 Email:
      = @user.email
      %h5 City:
      = @user.city
    .large-6.column
      -@posts.each do |post|
        %h3 test
        %h3= post.title
        %p= post.content
        %hr

      -# %h3 Best Brew in the Bay!
      -# %p Banjo iceland jean shorts, vegan hella waistcoat vinyl cardigan forage shabby chic snackwave plaid tacos skateboard. Tbh fap letterpress man bun. Edison bulb hammock biodiesel coloring book, kitsch man braid fam. Next level pork belly kitsch health goth franzen roof party, cold-pressed food truck bitters marfa flexitarian flannel. Narwhal coloring book umami, bicycle rights craft beer VHS selfies pop-up hammock hot chicken meditation typewriter photo booth prism. Scenester cornhole taxidermy, blue bottle man bun twee intelligentsia echo park snackwave sustainable. Fashion axe lumbersexual vice, chicharrones master cleanse fixie ennui hashtag.
      -# %hr
      -# %h3 Best Brew in the Bay!
      -# %p Banjo iceland jean shorts, vegan hella waistcoat vinyl cardigan forage shabby chic snackwave plaid tacos skateboard. Tbh fap letterpress man bun. Edison bulb hammock biodiesel coloring book, kitsch man braid fam. Next level pork belly kitsch health goth franzen roof party, cold-pressed food truck bitters marfa flexitarian flannel. Narwhal coloring book umami, bicycle rights craft beer VHS selfies pop-up hammock hot chicken meditation typewriter photo booth prism. Scenester cornhole taxidermy, blue bottle man bun twee intelligentsia echo park snackwave sustainable. Fashion axe lumbersexual vice, chicharrones master cleanse fixie ennui hashtag.
