%div{:class => "row"}
  %div{:class => "large-8 column"}
    = form_for @user do |f|
      %div{:class => "large-6 column"}
        %h2 Join our awesome site!
        %div{:class => "card"}
          = f.label :first_name, 'First Name:'
          = f.text_field :first_name

          = f.label :last_name, 'Last Name:'
          = f.text_field :last_name

          = f.label :username, 'Username:'
          = f.text_field :username

          = f.label :email, 'Email:'
          = f.text_field :email

          = f.password_field :password, placeholder: "Password"

          = f.label :city, 'City:'
          = f.text_field :city


          = f.submit 'Join!'
