
.large-6.large-centered.columns
  %h1 All Posts In The System
  %button#newPostButton.submit-button{onclick: "location.href = '#{new_post_path}'" }
    Add New Post

  - @posts.each do |post|
    %a{ href: "/cities/" + post.city.id.to_s + "/posts/" + post.id.to_s }
      #{post.title}
    %span= post.user.username
    %span= post.created_at
    %p= post.content
    %hr/
