%h1 Create a post below!

= form_for @post do |f|
    = f.label :title, 'Title:'
    = f.text_field :title

    = f.label :content, 'Content:'
    = f.text_area :content

    = f.label :city_id, 'City:'
    = f.text_field :city_id

    = f.submit 'Create Post!'
