.large-4
  %h2= link_to "San Francisco", '/cities/1'
  %h3= "United States"
  %hr
  %h2= link_to "Gibraltar", '/cities/2'
  %h3= "Spain"
  %hr
  %h2= link_to "London", 'cities/3'
  %h3= "United Kingdom"
