!!!
%html
  %head
    %title VagabondApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "main-menu"}
      %button.menu-icon{"data-toggle" => "", :type => "button"}
        .title-bar-title Menu
    #main-menu.top-bar
      .top-bar-left
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li.menu-text Wander
      .top-bar-right
      -# - if logged_in?
      -#   %ul.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
      -#     %li.has-submenu
      -#       %a{:href => "#"} My Wander
      -#       %ul.submenu.menu.vertical{"data-submenu" => ""}
      -#         %li
      -#           %a{:href => "#"} My Profile
      -#         %li
      -#           %a{:href => "#"} My Posts
      -#   %li
      -#     %a{:href => "#"} Log Out
      -# - else
      -#   .top-bar-right
      -#     %ul.vertical.medium-horizontal.menu
      -#       %li
      -#         %a{:href => "#"} Create an Account
      -#       %li
      -#         %a{:href => "#"} Cities

    =yield

    .footer
      .row
        .column
          %p.slogan
            Vagabond
          %p.links
            = link_to("Cities #{}")
            = link_to("Cities #{}")
            = link_to("Cities #{}")
            = link_to("Cities #{}")
            = link_to("Cities #{}")
            = link_to("Cities #{}")
          %p.copywrite
            Immense Journey-81190 ©2016
