!!!
%html
  %head
    %title Wander App
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

  %div
    #main-menu.top-bar
      .top-bar-left
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li.menu-text Wander
      - if current_user
        .top-bar-right
          %ul.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
            %li.has-submenu
              %p My Wander
              %ul.submenu.menu.vertical{"data-submenu" => ""}
                %li
                  =link_to "My Profile", user_path(current_user)
                -# %li
                -#   =link_to ("My Posts #{}")
          %li
            =link_to "Log Out", logout_path
      - else
        .top-bar-right
          %ul.vertical.medium-horizontal.menu
            %li
              =link_to "Sign Up", new_user_path
            %li
              =link_to "Log In", new_session_path
            %li
              =link_to "Cities", cities_path

    =yield

    .footer
      .row
        .column
          %p.slogan
            Wander
          %p.links
            = link_to "San Francisco", '/cities/1'
            = link_to "Gibraltar", '/cities/2'
            = link_to "London", 'cities/3'
          %p.copywrite
            Immense Journey-81190 ©2016
